.connect {
  background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
}
.mobileNavbar {
  background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
}

.mobileNavbarBg {
  background: #1e1e1e !important;
  z-index: 111111;

  //   background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
}
